<div *ngIf="showPopup"  class="popup">
    <div class="popup-content">
        <div class="close" (click)="closePopup()">x</div>
        <h1>{{data.properties.Description}}</h1>
        <h2>Vehicles</h2>
        <div class="split-container">
            <div class="cars">
                <div class="car" *ngFor="let car of vehicles" (click)="setActive(car)">
                    <div>
                        <span class="make" [ngClass]="{'active' : isActive(car.reg)}">{{car.make}}</span>
                        <span class="registration">{{car.reg | uppercase }}</span>
                        <div class="action"><i class="fa fa-chevron-right" aria-hidden="true"></i></div>
                    </div>
                </div>
            </div>
            <div class="car-view">
                <h2>{{activeVehicle.make}}</h2> 
                <div class="row">
                    <div class="name">Is electric?</div>
                    <div class="value">
                        <div *ngIf="activeVehicle.isElectric">
                            <i class="fa fa-check" aria-hidden="true"></i>
                        </div>
                        <div *ngIf="!activeVehicle.isElectric">
                            <i class="fa fa-times" aria-hidden="true"></i>
                        </div>
                    </div>
                </div>
                <div class="row" *ngIf="activeVehicle.isElectric">
                    <div class="name">Range</div>
                    <div class="value">{{activeVehicle.range}} miles</div>
                </div>
                <div class="row" *ngIf="!activeVehicle.isElectric">
                    <div class="name">MPG</div>
                    <div class="value">{{activeVehicle.mpg}}</div>
                </div>
                <div class="row" *ngIf="!activeVehicle.isElectric">
                    <div class="name">Carbon cost</div>
                    <div class="value">149 gCO2/km</div>
                </div>
                <div class="van">
                    <marquee>
                        <i class="fa fa-truck" aria-hidden="true"></i>
                    </marquee>
                </div>
            </div>
        </div>
    </div>
</div>
